# Закрываем доступ к файлу .htaccess 
<Files .htpasswd> 
   deny from all 
</Files>
<Files .htaccess> 
   deny from all 
</Files>

<Files "*.php">
# Указываем место положение файла .htpasswd, включаем аутентификация
AuthUserFile /home/f0195241/domains/f0195241.xsph.ru/public_html/upd/.htpasswd
AuthName "Password Protected Area"
AuthType Basic
#Require user igorjukov353
Require valid-user
</Files>